body,html{
    min-height: 100%;
    
}
body{
    background-image: url(https://i.ytimg.com/vi/cUXtiHx0XMo/maxresdefault.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}
.navbar-brand{
    color:white;
}
.navbar{
    background-color:black;
    
    
}
.heading{
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
}
.input-group{
    width: 40%;
    margin-left: 30%;
}
.btn:hover {
    background-color:cyan;
}
#last{
    color: white;
}


